package cimgostructs

{{if not .SuperType}}import "cimgo/cimbase"
{{end}}

// {{.Comment}}
type {{.Id}} struct {
{{- if .SuperType}}
    {{.SuperType}}
{{- else}}
    cimbase.Base
{{- end}}

{{- range .Attributes}}
{{- if .IsAssociationUsed }}
    // {{.Comment}}
{{- if or .IsPrimitive .IsCIMDatatype}}
    {{capitalFirstLetter .Label}} {{.LangType}} `xml:"{{.Id}},omitempty"`
{{- else if .IsEnumValue}}
    {{- if .IsList}}
    {{capitalFirstLetter .Label}} []struct {
        URI string `xml:"resource,attr"`
    } `xml:"{{.Id}}"`
    {{- else}}
    {{capitalFirstLetter .Label}} *struct {
        URI string `xml:"resource,attr"`
    } `xml:"{{.Id}},omitempty"`
    {{- end}}
{{- else if .IsList}}
    {{capitalFirstLetter .Label}} []struct {
        MRID string `xml:"resource,attr"`
    } `xml:"{{.Id}}"`
{{- else}}
    {{capitalFirstLetter .Label}} *struct {
        MRID string `xml:"resource,attr"`
    } `xml:"{{.Id}},omitempty"`
{{- end}}
{{- end}}
{{- end}}
}

